:root {
	/* Variables de couleurs */
	--dark-blue-main-bg: #2d3047;
	--light-blue-main-bg: #7494ea;
	--yellow-main: #fac748;
	--white-main: #f5edf0;
	--gray-main: #787878;
	--gray-main-alpha: rgba(170, 170, 170, 0.45);
	--white-main-alpha: rgba(245, 237, 240, 0.4);
	--red-main: #ba1b1d;
	--red-main-menu-hover: rgba(186, 27, 29, 0.35);
}

body {
	/* Genral backgrownd color */
	/* background-color: var(--dark-blue-main-bg); */
	background-image: url("img/pngtree-technology-light-blue-background-picture-image_965564.jpg");
	/* body must take the hole page */
	margin: 0%;
	padding: 0%;
}

nav.nav_menu {
	/* nav background is maintained to not let the main content appear after the nav bar while scroling */
	background-color: var(--dark-blue-main-bg);
	border-bottom-left-radius: 85px;
	border-bottom-right-radius: 85px;
}
/* 
.naviguation-bar:hover {
	transform: scale(1, 1.2) translatey(10px);
} */

.naviguation-bar img {
	width: 10%;
	min-width: 70px;
	max-width: 300px;
	min-height: 85px;
	max-height: 364px;
	margin: 10px;
	object-fit: contain;
}

.naviguation-bar img:hover {
	width: 15%;
	min-width: 70px;
	max-width: 20%;
	max-height: 20%;
	margin: 10px;
}

.naviguation-bar {
	border-radius: 100px;
	background-color: var(--gray-main-alpha);
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	opacity: 100%;
}

header {
	position: sticky;
	top: 0;
}

.naviguation-bar ul {
	flex-grow: 150;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	font-weight: bold;
	flex-wrap: wrap;
	justify-content: center;
}

.naviguation-bar li {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.naviguation-bar a {
	font-size: xx-large;
	text-decoration: none;
	color: #fac748;
}

.naviguation-bar a:hover {
	background-color: var(--red-main-menu-hover);
	border-radius: 50%;
}

fieldset {
	border-color: var(--white-main);
	color: var(--light-blue-main-bg);
	border-radius: 25px;
	padding: 15px;
	font-size: large;
	border-style: dashed;
	border-width: 3px;
}

legend {
	color: var(--yellow-main);
	text-decoration: underline;
}
